language: php
before_script:
  - wget http://getcomposer.org/composer.phar
  - php composer.phar install --dev
php:
  - 5.4
script: phpunit --coverage-clover build/logs/clover.xml
after_script:
  - vendor/bin/test-reporter